@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Public Sans', sans-serif;
  margin: 0;
  min-width: 375px;
}

.mobile-only{
  display: block;
  z-index: 1;
  justify-content: space-between;

}
.desktop-only{
  display: block;
  z-index: 1;
}
@media (max-width: 50em) {
  .desktop-only{
    display: none;
  }
}
@media (min-width: 50em) {
  .mobile-only{
    display: none;
  }
}
